.input {
	position: absolute;
	inset: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	font-size: inherit;
	font-family: inherit;
}

/* Make input placeholder visible */
.input:not([value=""]) {
	-webkit-text-fill-color: transparent;
}
